.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.product{
    /* background-color: #ff6347 */
    width: 70%;
    align-items: center;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-columns: repeat(auto-fill , 150px); */
    border: 1px solid black;
    border-radius: 10px;

}

.product img{
    width: 120px;
    height: auto;
    padding: 10px;
}

h4{
    margin: 0%;
    padding: 0%;
}

.delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0%;
    margin: 0;
    width: fit-content;
}
