.select-console{
    color:white;
    background-color:#131618;
    /* background-color:#ff5d11; */
    cursor: pointer;
}

.product-price{
    color: #6c757d;
    font-weight: bold;
}

.product-list{
    display: grid;
    /* grid-template-columns: repeat(auto-fill , 200px); */
    grid-template-columns: repeat(auto-fill , minmax(12rem, 1fr));
    height: auto;
    gap: 20px;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
}

.product-list-offers{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(18rem, 1fr));
    height: auto;
    gap: 30px;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
}

.product-list-offers-admin{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(12rem, 1fr));
    height: auto;
    gap: 20px;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
}

.product-list-admin{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(25rem, 1fr));
    /* height: auto; */
    gap: 10px;
    flex-wrap: wrap;
}

.shopping-history{
    display: grid;
    /* grid-template-columns: repeat(auto-fill , 200px); */
    grid-template-columns: repeat(auto-fill , minmax(15rem, 1fr));
    /* max-width: max-content; */
    height: auto;
    gap: 20px;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
}

.bg-global{
    /* background-color:rgb(48, 45, 45); */
    /* background-color: #343a40 */
    background-color: #212529
}

.cursor{
    cursor: pointer;
}

.container-fix{
    width: fit-content;
}

.view{
    display: none;
}

.viewInv{
    display: flex;
}


@media (max-width: 680px) {
    .product-list{
            grid-template-columns: repeat(auto-fill , 200px);
    }
}

@media (min-width: 375px) and  (max-width: 480px) {
    .product-list{
            grid-template-columns: repeat(auto-fill , 165px);
            margin: 0;
            gap: 2;
    }
    .product-list-offers-admin{
        grid-template-columns: repeat(auto-fill , 165px);
        margin: 0;
        gap: 2;
    }

    .down{
        display: flex;
        width: 160px;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
}

@media (max-width: 992px) {
    .view{
        display: flex;
    }
    .viewInv{
        display: none;
    }
}