.select-console{
    color:white;
    background-color:#131618;
    /* background-color:#ff5d11; */
    cursor: pointer;
}

.product-price{
    /* color: #0d6efd; */
    color: #6c757d;
    /* color: rgb(24, 146, 13); */
    font-weight: bold;
}

.product-list{
    display: grid;
    /* grid-template-columns: repeat(auto-fill , 200px); */
    grid-template-columns: repeat(auto-fill , minmax(11rem, 1fr));
    height: auto;
    gap: 20px;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
}

.bg-global{
    background-color:rgb(48, 45, 45)
    
}